<!DOCTYPE html>
<html ng-app="app4">
<head lang="en">
    <meta charset="UTF-8">
    <title>ISM The First Lab</title>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="../bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="../bower_components/n3-line-chart/build/line-chart.min.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/anova.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/confidence.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/correlation.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/distributions.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/factor.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/matrix.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/misc.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/nonparametric.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/normality.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/numeric.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/power.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/regression.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/t.js"></script>
    <script type="text/javascript" src="../bower_components/jerzy/lib/vector.js"></script>

    <script type="text/javascript" src="app4.js"></script>
    <script type="text/javascript" src="integralForLab4.js"></script>
</head>
<body ng-controller="AppCtrl">
<form ng-submit="clickSubmit()" style="width: 30%">
    <div>
        <div ng-show="isLaplas || isVeibul">lyambda:&nbsp;&nbsp;&nbsp;<input ng-model="lyambda" min="0" step="1" type="number"></div>
        <div ng-show="isVeibul">c:&nbsp;&nbsp;&nbsp;<input ng-model="cVeibul" min="0" step="1" type="number"></div>
        <!--<div ng-show="isLogist">D:&nbsp;&nbsp;&nbsp;<input ng-model="mLogist" min="0" step="1" type="number"></div> -->
        <!--<div ng-show="isHGeom">n:&nbsp;&nbsp;&nbsp;<input ng-model="nGeom" min="0" step="1" type="number"></div>
        <div>m:&nbsp;&nbsp;&nbsp;<input ng-model="limitNumber" min="0" step="1" type="number"></div> -->
        CountOfArray (N):&nbsp;<input ng-model="countNumber" type="number"><br><br>
        degree:&nbsp;<input ng-model="degree" type="number"><br><br>
    </div>
    <input type="submit" value="KG">
</form>
<div style="float: left;  margin-left: 500px;  margin-top: -104px;">
    <textarea style="width: 377px;  height: 201px;">
        {{results}}
    </textarea>
    </div>
</div>
<div style="margin-left: 1000px;">
    Norm<input type="radio" name="task" ng-click="changeTask('norm')" checked><br>
    Laplas<input type="radio" name="task" ng-click="changeTask('laplas')"><br>
    Veibula-Gnedenko<input type="radio" name="task" ng-click="changeTask('veibul')"><br>
    Moments<input type="checkbox" name="groupCheckbox" ng-model="isMoments">
    CheckPirson<input type="checkbox" name="groupCheckbox" ng-model="isProverka">
    CheckKolmogorov<input type="checkbox" name="groupCheckbox" ng-model="isProverkaKolmog">
    </div>
<linechart data="data" options="options" style="float: left" width="600" height="600"></linechart>
<div id="box" class="jxgbox" style="width:600px; height:600px;"></div>
</body>
</html>